[{:eda/signoff 0.0, :eda/yield 91.0, :eda/stage :spec, :frame/clear "[0.97 0.98 0.99 1.0]", :frame/passes "[#:pass{:id :eda-main, :target :canvas, :draws [#:draw{:pipeline :eda-layer-rect, :mesh :rect, :material :M1, :instances {:count 1, :rect [90 90 140 80], :tint \"#2563eb\", :label \"macro-cpu\"}} #:draw{:pipeline :eda-layer-rect, :mesh :rect, :material :M4, :instances {:count 1, :rect [300 90 140 125], :tint \"#16825d\", :label \"macro-sram\"}} #:draw{:pipeline :eda-layer-rect, :mesh :rect, :material :Mtop, :instances {:count 1, :rect [510 90 140 80], :tint \"#c2410c\", :label \"macro-otp\"}}]}]", :eda/project :kotoba-eda-demo, :db/id -1, :eda/process :sky130, :frame/kami-engine :render-ir-compatible, :frame/n 0}]