{:adoption/version 2 :consumer/id :kotoba
 :security/git-sha "23caaefa6ca35904f9d0c2dc0cbb3bec91ae8956"
 :required-control-namespaces [kotoba.security.abac kotoba.security.crypto-policy kotoba.security.information-flow]
 :security-sensitive-entrypoints
 {kotoba.package-admission [kotoba.security.abac kotoba.security.crypto-policy]
  kotoba.host-providers [kotoba.security.information-flow]}
 :exceptions []}
