{:adoption/version 2 :consumer/id :kotoba
 :security/git-sha "49fc4ce359752e9fe6e547e9071b5b9b40da937a"
 :required-control-namespaces [kotoba.security.abac kotoba.security.crypto-policy kotoba.security.information-flow]
 :security-sensitive-entrypoints
 {kotoba.package-admission [kotoba.security.abac kotoba.security.crypto-policy]
  kotoba.host-providers [kotoba.security.information-flow]}
 :exceptions []}
