{:linters
 {:unused-private-var
  {:exclude
   [kotoba.runtime/desugar-vector
    kotoba.runtime/bounded-set-contains
    kotoba.runtime/bounded-coll-count
    kotoba.runtime/expand-let-bindings
    kotoba.runtime/callback-valid?
    kotoba.runtime/inline-no-init-reduce-info
    kotoba.runtime/bounded-eager-map
    kotoba.runtime/bounded-eager-filter
    kotoba.runtime/bounded-eager-reduce
    kotoba.runtime/bounded-map-project
    kotoba.runtime/bounded-map-without
    kotoba.runtime/bounded-map-contains-key]}}}
