openapi: 3.1.0
info:
  title: Kotobase GraphDB/RDF4J Query Compatibility API
  version: 0.1.0
  description: Read-only GraphDB/RDF4J repository query subset backed by Kotobase SPARQL.
servers:
  - url: https://graphdb.kotobase.net
paths:
  /health:
    get:
      operationId: graphdbHealth
      security: []
      responses:
        '200':
          description: Compatibility surface status
          content:
            application/json:
              schema:
                type: object
                required: [ok, service, repositories, readOnly]
                properties:
                  ok: { const: true }
                  service: { const: graphdb-rdf4j-query-compatible }
                  repositories:
                    type: array
                    items: { type: string }
                  readOnly: { const: true }
  /repositories/{repository}:
    parameters:
      - in: path
        name: repository
        required: true
        schema: { type: string, enum: [default] }
    get:
      operationId: graphdbGetQuery
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: query
          required: true
          schema: { type: string, minLength: 1, maxLength: 131072 }
      responses:
        '200': { $ref: '#/components/responses/QueryResult' }
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
    post:
      operationId: graphdbPostQuery
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/sparql-query:
            schema: { type: string, minLength: 1, maxLength: 131072 }
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [query]
              properties:
                query: { type: string, minLength: 1, maxLength: 131072 }
      responses:
        '200': { $ref: '#/components/responses/QueryResult' }
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '415': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  responses:
    QueryResult:
      description: SPARQL result selected through the Accept header
      headers:
        x-kotobase-compatibility:
          schema: { type: string, const: graphdb-rdf4j-query-subset }
      content:
        application/sparql-results+json: {}
    Error:
      description: Query was not completed
      content:
        application/json:
          schema:
            type: object
            required: [error]
            properties:
              error:
                type: object
                required: [code, message, retryable, requestId]
                properties:
                  code: { type: string }
                  message: { type: string }
                  retryable: { type: boolean }
                  requestId: { type: string }
