openapi: 3.1.0
info:
  title: Kotobase Unified Query API
  version: 0.2.0
  description: A read-only, language-neutral envelope around Kotobase query engines.
servers:
  - url: https://kotobase.net
paths:
  /xrpc/ai.gftd.apps.kotobase.query.execute:
    post:
      operationId: executeQuery
      summary: Execute a native query against a Kotobase graph
      security:
        - bearerAuth: []
      parameters:
        - in: header
          name: x-request-id
          schema: { type: string, maxLength: 128 }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/QueryRequest' }
      responses:
        '200':
          description: Query completed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/QueryResult' }
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/Error' }
        '403': { $ref: '#/components/responses/Error' }
        '408': { $ref: '#/components/responses/Error' }
        '413': { $ref: '#/components/responses/Error' }
        '429': { $ref: '#/components/responses/Error' }
        '501': { $ref: '#/components/responses/Error' }
        '502': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  responses:
    Error:
      description: Query was not completed
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorEnvelope' }
  schemas:
    QueryLanguage:
      type: string
      enum: [datalog, cypher, gremlin, graphdb, graphql, sparql]
    GremlinBytecode:
      type: array
      minItems: 1
      items:
        type: array
        minItems: 1
        prefixItems: [{ type: string }]
    QueryRequest:
      type: object
      additionalProperties: false
      required: [language, query]
      properties:
        language: { $ref: '#/components/schemas/QueryLanguage' }
        query:
          oneOf:
            - { type: string, minLength: 1, maxLength: 100000 }
            - { $ref: '#/components/schemas/GremlinBytecode' }
        parameters:
          type: object
          additionalProperties: true
        database:
          type: string
          minLength: 1
          maxLength: 256
          description: Database or repository identifier. GraphDB currently supports only default.
        collections:
          type: array
          maxItems: 128
          items: { type: string, minLength: 1, maxLength: 256 }
        options:
          $ref: '#/components/schemas/QueryOptions'
    QueryOptions:
      type: object
      additionalProperties: false
      properties:
        limit: { type: integer, minimum: 1, maximum: 100000 }
        timeoutMs: { type: integer, minimum: 1, maximum: 60000 }
        asOf: { type: string, maxLength: 256 }
        explain: { type: boolean, default: false }
        emitCid: { type: boolean, default: false }
    QueryResult:
      type: object
      additionalProperties: false
      required: [ok, language, data, meta]
      properties:
        ok: { const: true }
        language: { $ref: '#/components/schemas/QueryLanguage' }
        data: {}
        meta:
          type: object
          additionalProperties: true
          required: [requestId, elapsedMs]
          properties:
            requestId: { type: string }
            elapsedMs: { type: integer, minimum: 0 }
            basisT: { type: string }
            querySpecCid: { type: string }
            queryJobCid: { type: string }
            resultCid: { type: string }
            truncated: { type: boolean }
            engine: { type: string }
        warnings:
          type: array
          items: { type: string }
    ErrorEnvelope:
      type: object
      additionalProperties: false
      required: [error]
      properties:
        error:
          type: object
          additionalProperties: false
          required: [code, message, retryable]
          properties:
            code: { type: string }
            message: { type: string }
            retryable: { type: boolean }
            requestId: { type: string }
            details: {}
