{:paths ["."]
 :deps  {org.clojure/clojure  {:mvn/version "1.12.0"}
         ;; the new com-junkawasaki/playwright-clj wrapper (local)
         com-junkawasaki/playwright-clj
         {:local/root "../../../../../playwright-clj"}}
 :aliases
 {:run       {:main-opts ["-m" "office-browser-test"]}
  :fullstack {:main-opts ["-m" "office-fullstack-test"]}
  :editor    {:main-opts ["-m" "office-editor-test"]}}}
