{:kotoba.policy/capabilities #{:fs/browse :proc/exec :env/read}
 :kotoba.policy/forbid-wildcard true
 :kotoba.policy/capability-resources
 {:fs/browse #{"test/fixtures/kbb_ports/holds_dir/plain" "."}
  :env/read #{"HOME"}}
 :kotoba.policy/spawn {:programs ["/usr/bin/git"]}}
