{:kotoba.policy/capabilities #{:fs/app-data :env/read}
 :kotoba.policy/forbid-wildcard true
 :kotoba.policy/capability-resources
 {:fs/app-data #{"test/fixtures/kbb_gate_scripts/edn_balance"}
  :env/read #{"KBB_EDN_FILE"}}}
