{:kotoba.policy/capabilities #{:fs/app-data :fs/browse}
 :kotoba.policy/forbid-wildcard true
 :kotoba.policy/capability-resources
 {:fs/app-data #{"test/fixtures/kbb_ports/edn_dir"}
  :fs/browse #{"test/fixtures/kbb_ports/edn_dir"}}}
